
.playwrite-dk-loopet-Fuente {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
html{
    background-color: #fffbeb ;
}
#titulo{
    color: pink;
    text-align: center;
    font-size: 45px ;
    font-family: "Playwrite DK Loopet" ;
}